body{
    background-color: #333333;
}
.match_start_button{
    text-align: center;
    position:relative;
    top: 110px;
}
.title_image{
    text-align: center;
}
.top_img{
    text-align: center;
    position:relative;
    top: 60px;
    width: 310px;
    height: 300px;
}
.main_title{
    font-size: 300%;
    color:white;
    text-align: center;
    position:relative;
    top: 30px;
}
.btn-right-radius {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius: 15px 15px 15px 15px;
    transition: .4s;
    width: 150px;
    height: 40px;
  }
  
  .btn-right-radius:hover {
    background: #636363;
  }
  p{
      color: #FFFF;
      font-style: normal;
      font-family: Times New Roman, "メイリオ";
  }
.mess{
    text-align: center;
    position:relative;
    top: 110px;
}
